@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:wght@200;300;400;600;700;800;900&family=Poppins&display=swap');
:root {
    /*========== Colors ==========*/
    --first-color: hsl(30, 16%, 50%);
    --text-color: #fff;
    --text-color-black: hsl(30, 8%, 15%);
    --body-color: hsl(30, 100%, 98%);
  
    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    --h3-font-size: 1rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
  }
  
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: var(--body-font);
    background-color: var(--body-color);
}
img {
    max-width: 100%;
    height: 0 auto;
}
.gallery {
    display:grid;
    height: 100vh;
    align-content: center;
    justify-content: center;
}
.gallery--card {
  position: relative;
  width: 208px;
  height: 268px;
  border-radius: 3rem;
  margin: 0 auto;
  overflow: hidden;
}
.gallery--img, .gallery--card::after, .gallery-data {
  position: absolute;
}
.gallery--img {
  inset:0;
  margin:auto;
  transition: transform .3s;
  height: 100%;
  width: 100%;
}

.gallery--card::after {
  content: '';
  width: 100%;
  height: 180px;
  background: linear-gradient(180deg, hsla(0, 0%, 100%,0)32%, hsla(0, 0%,0%, .3)100%);
  bottom: 0;
  z-index: 1;
}
.gallery-data {
  bottom: 1.75rem;
  left: 1.75rem;
  z-index: 10;
}
.gallery_title, .gallery-subtitle {
  color: var(--text-color);
  font-weight: 500;
}
.gallery_title {
  font-size: var(--h3-font-size);
}
.gallery-subtitle {
  font-size: var(--smaller-font-size);
}
.gallery__overflow {
  position: relative;
}
.gallery__thumbnail {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 1.5rem;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer;
  transition: transform .3s;
}
.gallery__thumbnail img {
  position: absolute;
  inset: 0;
  margin: auto;
}
.gallery-cards, .gallery__thumbs {
  width: 260px;
}
.gallery-cards:hover .gallery--img {
  transform: scale(1.1);
}
.gallery .swiper-wrapper {
  padding: 2.5rem 0;
}
.gallery__thumbs {
  height: 132px;
}
.swiper-slide-active .gallery__thumbnail {
  transform: translateY(-1.25rem) scale(1.2);
}
.swiper-slide-next .gallery__thumbnail {
  transform: rotate(15deg);
}
.swiper-slide-prev .gallery__thumbnail {
  transform: rotate(-15deg);
}
.swiper-pagination-fraction {
  font-size: var(--small-font-size);
  letter-spacing: -1px;
  font-weight: 500;
  color: var(--first-color);
  bottom: 0;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  content: '';
}
.swiper-button-next, .swiper-button-prev {
  font-size: 1.5rem;
  color: var(--text-color-black);
  top: 5.5rem;
}
.swiper-button-next {
  right: -1.5rem;
  transform: rotate(15deg);
}

.swiper-button-prev {
  left: -1.5rem;
  transform: rotate(-15deg);
}
.gallery-cards::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: initial;
}
/* For small devices */
@media screen and (max-width: 320px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

/* For medium devices */
@media screen and (min-width: 1024px) {
  .gallery__card {
    width: 220px;
    height: 290px;
  }
  .gallery__thumbnail {
    width: 65px;
    height: 65px;
  }
  .gallery-cards,
  .gallery-thumbs {
    width: 280px;
  }
}
  /* Responsive typography */
  @media screen and (min-width: 1024px) {
    :root {
      --h3-font-size: 1.125rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
  }
